.bioAboutSession {
    margin-top: 80px;
}

.sectionTitle {
    font-family: 'Bree Serif', serif;
    color: #555555;
    font-size: 36px;
    text-transform: lowercase;
}

.recommendationWeight {
    font-size: 72px;
    font-weight: bolder;
}

.recommendationWeightDetails {
    color: #999999;
}