.sectionMenu {
    background-color: #eeeeee;
    position: relative;
    display: block;
}

.menuLogo {
    max-width: 100px;
}

.socialIntegrationMenu {
    padding: 30px;
    max-width: 1000px;
    float: right;
    text-align: right;
}