.bioAboutSession {
    margin-top: 80px;
}

.sectionTitle {
    font-family: 'Bree Serif', serif;
    color: #555555;
    font-size: 36px;
    text-transform: lowercase;
}

.aboutDescription {
    font-size: 20px;
    padding-bottom: 20px;
}